<div class="row">
  <div class="col-md-2 offset-md-10 pull-right">
    <button class="btn-style" (click)="onAddButton()">ADD</button>
  </div>
</div>
<div class="custom-card-form">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th class="text-center"> Credit Points </th>
                <th class="text-center"> Percentage </th>
                <th class="text-center"> Status </th>
                <th class="text-center">Action</th>
              </thead>
              <tbody>
                <tr *ngFor="let data of creditList">
                  <td class="text-center">{{data.point}}</td>
                  <td class="text-center">{{data.percentage}}</td>
                  <td class="text-center">
                    <button type="button"
                    [ngClass]="{
                      'btn-red': data?.status === 'INACTIVE',
                      'btn-act': data?.status === 'ACTIVE'
                    }"
                    (click)="onUpdateStatus(data._id, data.status)"
                    >{{data.status}} </button>
                  </td>
                  <td class="text-center">
                        <i (click)="onEdit(data)" class="fa fa-pencil action-icon cursor-pointer mb-4"></i>&nbsp;&nbsp;
                        <i (click)="onDelete(data._id)" class="fa fa-trash-o action-icon cursor-pointer mb-4"></i>
                </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
