<div class="d-flex min-vh-100">
    <div class="login-side-img"></div>
    <div class="login-content d-flex align-items-center">

            <div class="col-md-5 offset-md-2 col-sm-6 offset-md-2"  [formGroup]="loginFrmGrp" >
                <div class="text-center">
                    <img class="logo-img my-4" src="assets/img/logo.png" alt="">
                    <h1 class="text-uppercase">Login to Your Account</h1>
                </div>
                <div class="form-group">
                    <label class="form-label">Email</label>
                    <input type="text" formControlName="email" placeholder="Johndoe" class="form-control"
                    [class]="{ 'invalid':f.email.errors && submitted}"
                    >
                    <div *ngIf="f.email.errors && submitted">

                        <div *ngIf="f.email.errors.required">
                          <p style="color: red;">Email is required</p>
                        </div>
                        <div *ngIf="f.email.errors.email">
                          <p style="color: red;">Invalid email</p>
                        </div>
                      </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Password</label>
                    <input type="password" formControlName="password" placeholder="*********" class="form-control"
                    [class]="{ 'invalid':f.password.errors && submitted}">
                    <div *ngIf="f.password.errors &&submitted">
                        <div *ngIf="f.password.errors.required">
                          <p style="color: red;">Password is required</p>
                        </div>
                      </div>
                </div>
                <div class="form-group">
                  <button type="button" (click)="login()"  class="btn-style">{{loader? 'Logging...' : 'LOGIN'}}</button>
                </div>
                <div class="form-group text-right">
                    <a [routerLink]="['/login/forget']">Forgot password</a>
                </div>
            </div>

    </div>
</div>
