<div class="row px-2">
  <div class="col px-2">
    <div class="card card-stats user-card">
      <div class="card-body">
        <div class="row px-2 align-items-center">
          <div class="col-5 col-md-4 px-2">
            <div class="icon-big text-center icon-warning">
              <img src="../../../assets/img/users.svg" alt="">
            </div>
          </div>
          <div class="col-7 col-md-8 px-2">
            <div class="numbers">
              <p class="card-category">50,000</p>
              <p class="card-title">Total users
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col px-2">
    <div class="card card-stats professionals-card">
      <div class="card-body ">
        <div class="row px-2">
          <div class="col-5 col-md-4 px-2">
            <div class="icon-big text-center icon-warning">
              <img src="../../../assets/img/professionals.svg" alt="">
            </div>
          </div>
          <div class="col-7 col-md-8 px-2">
            <div class="numbers">
              <p class="card-category">500</p>
              <p class="card-title">Total Professionals</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col px-2">
    <div class="card card-stats booking-card">
      <div class="card-body ">
        <div class="row px-2">
          <div class="col-5 col-md-4 px-2">
            <div class="icon-big text-center">
              <img src="../../../assets/img/booking.svg" alt="">
            </div>
          </div>
          <div class="col-7 col-md-8 px-2">
            <div class="numbers">
              <p class="card-category">80,000</p>
              <p class="card-title">Total Bookings</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col px-2">
    <div class="card card-stats earning-card">
      <div class="card-body">
        <div class="row px-2">
          <div class="col-5 col-md-4 px-2">
            <div class="icon-big text-center icon-warning">
              <img src="../../../assets/img/earning.svg" alt="">
            </div>
          </div>
          <div class="col-7 col-md-8 px-2">
            <div class="numbers">
              <p class="card-category">480,000</p>
              <p class="card-title">Net Earning</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col px-2">
    <div class="card card-stats cancel-card">
      <div class="card-body ">
        <div class="row px-2">
          <div class="col-5 col-md-4 px-2">
            <div class="icon-big text-center">
              <img src="../../../assets/img/cancel.svg" alt="">
            </div>
          </div>
          <div class="col-7 col-md-8 px-2">
            <div class="numbers">
              <p class="card-category">500</p>
              <p class="card-title">Booking cancel</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 mb-5">
    <div class="card card-div">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div>
          <h3>45,0000</h3>
          <p>Total Number of users</p>
        </div>
        <div>
          <i class="fa fa-circle" aria-hidden="true"></i> This week
        </div>
      </div>
      <div class="card-body ">
        <canvas id=chartHours width="400" height="100"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-5">
    <div class="card card-div">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div>
          <h3>Trending Booking</h3>
        </div>
        <div>
          <i class="fa fa-circle" aria-hidden="true"></i> This week
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 mb-3">
            <div class="trending-div white-bg d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <div class="img-div mr-3">
                  <img src="assets/img/bg5.jpg" alt="">
                </div>
                <h5 class="m-0"> Makeup</h5>
              </div>
              <div class="img-info d-flex align-items-center">
                <h4 class="m-0 pr-2 grey-text-color">Booking</h4>
                <p class="m-0">325</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <div class="trending-div white-bg d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <div class="img-div mr-3">
                  <img src="assets/img/bg5.jpg" alt="">
                </div>
                <h5 class="m-0"> Makeup</h5>
              </div>
              <div class="img-info d-flex align-items-center">
                <h4 class="m-0 pr-2 grey-text-color">Booking</h4>
                <p class="m-0">325</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <div class="trending-div white-bg d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <div class="img-div mr-3">
                  <img src="assets/img/bg5.jpg" alt="">
                </div>
                <h5 class="m-0"> Makeup</h5>
              </div>
              <div class="img-info d-flex align-items-center">
                <h4 class="m-0 pr-2 grey-text-color">Booking</h4>
                <p class="m-0">325</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5 mb-5">
    <div class="card card-div">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div>
          <h3>New Customer</h3>
        </div>
        <div>
          <i class="fa fa-circle" aria-hidden="true"></i> This week
        </div>
      </div>
      <div class="card-body new-customer-div">
        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="d-flex align-items-center">
              <div class="img-div">
                <img src="assets/img/bg5.jpg" alt="">
              </div>
              <div class="img-info">
                <h4 class="m-0 text-turncate">John Doe</h4>
                <p class="m-0">Noida sector 22</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="d-flex align-items-center">
              <div class="img-div">
                <img src="assets/img/bg5.jpg" alt="">
              </div>
              <div class="img-info">
                <h4 class="m-0 text-turncate">John Doe</h4>
                <p class="m-0">Noida sector 22</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="d-flex align-items-center">
              <div class="img-div">
                <img src="assets/img/bg5.jpg" alt="">
              </div>
              <div class="img-info">
                <h4 class="m-0 text-turncate">John Doe</h4>
                <p class="m-0">Noida sector 22</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="d-flex align-items-center">
              <div class="img-div">
                <img src="assets/img/bg5.jpg" alt="">
              </div>
              <div class="img-info">
                <h4 class="m-0 text-turncate">John Doe</h4>
                <p class="m-0">Noida sector 22</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7 mb-5">
    <div class="card card-div">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div>
          <h3>Booking</h3>
        </div>
        <div>
          <i class="fa fa-circle" aria-hidden="true"></i> This week
        </div>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-md-12 mb-3">
            <div class="progress-wr order-rec">
              <div class="progress-header d-flex justify-content-between align-items-center">
                <h5 class="m-0">Order Recived</h5>
                <p class="m-0">700</p>
              </div>
              <div class="progress-body">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                    style="width:70%">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
              <div class="progress-wr order-rec">
                <div class="progress-header d-flex justify-content-between align-items-center">
                  <h5 class="m-0">Booking Cancel</h5>
                  <p class="m-0">700</p>
                </div>
                <div class="progress-body">
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                      style="width:70%">
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>