<div class="d-flex min-vh-100">
    <div class="login-side-img"></div>
    <div class="login-content d-flex align-items-center">
            <div class="col-md-5 offset-md-2 col-sm-6 offset-md-2">
              <div class="text-center">
                  <img class="logo-img my-4" src="assets/img/logo.png" alt="">
                  <h1 class="text-uppercase">Change Password</h1>
              </div>
              <form novalidate (ngSubmit)="onSubmit(changePassword.value)" [formGroup]="changePassword" class="form-horizontal m-t-20">
                <div class="form-group">
                  <label class="form-label">New  Password</label>
                    <input [(ngModel)]="newPSW" required minlength="5" type="password" formControlName="newPSW" class="form-control form-control-md" [ngClass]="{ 'invalid': submitted && f.newPSW.errors }" placeholder="New Password" aria-label="New Password" aria-describedby="basic-addon2">
                    <div *ngIf="submitted && f.newPSW.errors" style="color: red;">
                        (minimum 5 characters).
                        <div *ngIf="f.newPSW.errors.required">New Password is required</div>
                    </div>
                </div>
                <div class="form-group">
                  <label class="form-label">Confirm  Password</label>
                    <input [(ngModel)]="confirmPSW" required minlength="5" type="password" formControlName="confirmPSW" class="form-control form-control-md" [ngClass]="{ 'invalid': submitted && f.confirmPSW.errors }" placeholder="Confirm Password" aria-label="Confirm Password"
                        aria-describedby="basic-addon2">
                    <div *ngIf="submitted && f.confirmPSW.errors" style="color: red;">
                        (minimum 5 characters).
                        <div *ngIf="f.confirmPSW.errors.required">Confirm Password is required

                        </div>
                        <div *ngIf="f.confirmPSW.errors.mismatchedPasswords">New Password and Confirm password should Match </div>

                    </div>
                </div>
                <div class="form-group">
                  <button class="btn-style">Submit</button>
                  <a [routerLink]="['/login']">Back to Login</a>
                </div>
            </form>
            </div>
    </div>
</div>
