<div class="d-flex min-vh-100">
    <div class="login-side-img"></div>
    <div class="login-content d-flex align-items-center">
            <div class="col-md-5 offset-md-2 col-sm-6 offset-md-2">
              <div class="text-center">
                  <img class="logo-img my-4" src="assets/img/logo.png" alt="">
                  <h1 class="text-uppercase">Forgot Password</h1>
              </div>
              <form (ngSubmit)="onSubmits($event, forgotPasswordForm.value)" [formGroup]="forgotPasswordForm">
                <div class="form-group">
                  <label class="form-label">Email</label>
                  <input type="text" class="form-control placeholder-fix" placeholder="Email" formControlName="email" [ngClass]="{'invalid':forgotPasswordForm.get('email').hasError('required') && (forgotPasswordForm.get('email').touched)&&ifSubmitted==true}">
                  <div style="color: red;" *ngIf="(forgotPasswordForm.get('email').hasError('required') && forgotPasswordForm.get('email').touched)&&ifSubmitted==true ">
                      Email required
                  </div>

                  <div style="color: red;" *ngIf="(forgotPasswordForm.get('email').hasError('pattern') && forgotPasswordForm.get('email').touched)&&ifSubmitted==true">
                      Incorrect email
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn-style">Submit</button>
                  <a [routerLink]="['/login']">Back to Login</a>
                </div>
              </form>
            </div>
    </div>
</div>
