<div class="row">
  <div class="col-md-12">
    <div class="custom-card-form">
      <div class="row search-wr contactus">
        <div class="col-md-12 d-flex single-search">
          <div class="search-width ">
            <div class="search-input">
              <input type="text" (keyup)="search($event.target.value)" placeholder="Search" id="searchdatable">
              <i class="fa fa-search"></i>
            </div>
          </div>
          <!-- <button type="button" class="btn-style">Filter</button> -->
        </div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <th class="text-center">Images</th>
            <th class="text-center"> Customer Name </th>
            <th class="text-center"> Contact No. </th>
            <th class="text-center"> Email </th>
            <th class="text-center" width="190"> Address </th>
            <!-- <th class="text-center">Chat</th> -->
            <th class="text-center">Created-At</th>
            <th class="text-center">Status</th>
            <th class="text-center"> Action </th>
          </thead>
          <tbody>
            <tr *ngFor="let item of list; let i=index" class="cursor-pointer" (dblclick)="navigateDetails(item)">
              <td class="text-center">
                <img class="table-inner-img" [src]="item?.image" alt="" onError="this.src='assets/img/angular.png';">
              </td>
              <td class="text-center">
                <span class="d-block"> {{item?.fullName ||(item?.firstName +''+item?.lastName)}}</span>
              </td>
              <td class="text-center">
                {{item?.countryCode}}-{{item?.phone}}
              </td>
              <td class="text-center text-nowrap">
                {{item?.email}}
              </td>
              <td class="text-center" width="190">
                {{(item?.location && item?.location.length &&item?.location[0]?.address)||'---'}}
              </td>
              <!-- <th class="text-center">
                <i class="fa fa-comments action-icon cursor-pointer"></i>
              </th>  -->
              <td class="text-center text-nowrap" width="40">
                {{item?.createdAt|date}}
              </td>


              <td class="text-center">
                <div class="d-flex justify-content-center flex-column">
                  <!-- <i class="fa fa-pencil action-icon mr-3 cursor-pointer"></i> -->
                  <!-- <i [hidden]="item?.status=='BLOCK'" (click)="deleteUser(item)"
                    class="fa fa-trash action-icon cursor-pointer mb-3"></i> -->
                  <button [disabled]="item.status=='BLOCK'" (click)="updateStatus(item)" type="button"
                    class="btn-style">{{item?.status|uppercase}}</button>

                </div>
              </td>
              <td class="text-center">
                <div class="d-flex justify-content-center flex-column">
                  <!-- <i (click)="navigateDetails(item)" class="fa fa-eye action-icon cursor-pointer"></i> -->
                  <i [hidden]="item?.status=='BLOCK'" (click)="deleteUser(item)"
                    class="fa fa-trash action-icon cursor-pointer mb-3"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!--filter popup start here -->
<div id="filterpopup" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Filter</h5>
        <button type="button" id="modal-close" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="form-label">Choose a x:</label>
          <select name="cars" id="cars" class="form-control">
            <option value="volvo">xyz</option>
            <option value="saab">xyz</option>
            <option value="saab">xyz</option>
          </select>
        </div>
        <div class="form-group d-flex align-items-center">
          <div class="mr-3 radio-div">
            <div class="radio-circle">
              <input type="radio" id="male" name="gender" value="male">
            </div>
            <label class="form-label" for="man">Male</label><br>
          </div>
          <div class="radio-div">
            <div class="radio-circle">
              <input type="radio" id="female" name="gender" value="female">
            </div>
            <label class="label-heading" for="female">Female</label><br>
          </div>
        </div>
        <button type="button" class="btn-style">Submit</button>
      </div>
    </div>
  </div>
  <div class="modal-bg"></div>
</div>

<!--filter popup end here-->
